<div class="ui grid">
	
	<div class="computer only row">
		<div class="column">
			<div class="ui menu">
				<a class="item">Menu Item A</a>
				<a class="item">Menu Item B</a>
				<a class="item">Menu Item C</a>
				<a class="item">Menu Item D</a>
			</div>
		</div>
	</div>
	
	 <div class="tablet mobile only row">
		<div class="column">
			<div class="ui menu">
				<a id="mobile_item" class="item"><i class="bars icon"></i></a>
			</div>
		</div>
	</div>

</div>

<div class="ui pushable segment">
		<div class="ui sidebar vertical menu">
			<a class="item">Menu Item A</a>
			<a class="item">Menu Item B</a>
			<a class="item">Menu Item C</a>
			<a class="item">Menu Item D</a>
		</div>
</div>